table {
  font-family: "Times New Roman", Times, serif;
  /*border-collapse: collapse;*/

  width: 100%;
  font-size: 16px;
}
tr {
}

th {
  font-weight: bold;
}

h4 {
  float: left;
}
.add {
  float: right;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-style: groove;
  border-radius: 15px;
  background-color: orange;
  color: white;
  border-color: transparent;
  height: max-content;
  width: 100px;
}
td,
th {
  border: 0px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.one {
  color: blue;
}
.two {
  color: blue;
}
h3 {
  font-weight: lighter;
}
.in {
  display: inline-flex;
  font-weight: bold;
}

#button {
  border-radius: 10px;
  width: 60px;
  text-align: center;
  height: 30px;
  background-color: transparent;
  border-width: 0.5px;
  color: blue;
  font-family: "Times New Roman", Times, serif;
}
.head {
  background-color: lightgrey;
  size: 50px;
}
